<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-body">
      <section class="flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="col-md-4 col-10 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
              <div class="card-header border-0">
                <div class="card-title text-center">
                  <img
                    src="assets/images/logo.svg"
                    width="120"
                    alt="branding logo"
                  />
                </div>
                <h6
                  class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"
                >
                  <span>Make the right change!</span>
                </h6>
              </div>
              <div class="card-content">
                <!-- <app-social-signin></app-social-signin> -->
                <!-- <p
                  class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1"
                >
                  <span>OR Using Email</span>
                </p> -->
                <div class="card-body">
                  <form
                    class="form-horizontal"
                    [formGroup]="resetForm"
                    (ngSubmit)="tryReset()"
                  >
                    <fieldset
                      class="form-group position-relative has-icon-left"
                    >
                      <input
                        type="password"
                        formControlName="password"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && f.password.errors
                        }"
                        id="user-password"
                        placeholder="Enter New Password"
                        required
                      />
                      <div class="form-control-position">
                        <i class="la la-key"></i>
                      </div>
                      <div
                        *ngIf="submitted && f.password.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.password.errors.required">
                          New Password is required
                        </div>
                        <div *ngIf="f.password.errors.minlength">
                          Password must be at least 6 characters
                        </div>
                      </div>
                    </fieldset>
                    <fieldset
                      class="form-group position-relative has-icon-left"
                    >
                      <input
                        type="password"
                        formControlName="password1"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && f.password.errors
                        }"
                        id="user-password1"
                        placeholder="Confirm New Password"
                        required
                      />
                      <div class="form-control-position">
                        <i class="la la-key"></i>
                      </div>
                      <div
                        *ngIf="submitted && f.password.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.password.errors.required">
                          Confirm Password is required
                        </div>
                        <div *ngIf="f.password.errors.minlength">
                          Password must be at least 6 characters
                        </div>
                      </div>
                    </fieldset>
                    <button
                      type="submit"
                      class="btn btn-outline-info btn-block"
                    >
                      <i class="fa fa-refresh fa-spin" *ngIf="submitted"></i>
                      <i class="feather ft-user" *ngIf="!submitted"></i>
                      Change Password
                    </button>
                  </form>
                </div>
                <div class="card-body">
                  <a
                    [routerLink]="['/login']"
                    class="btn btn-outline-danger btn-block"
                    ><i class="feather ft-unlock"></i> Login</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
