<ng-container mCardBody>
  <ng-container mCardBody>
    <div class="btn-group depth-btns ibtt-btns d-block mb-1 pt-2">
      <ng-container *ngIf="tableName != 'finalList'">
        <div
          ngbDropdown
          class="d-inline-block w-50 column-setting"
          [autoClose]="false"
        >
          <h2 class="card-title">Reviewing Buffer</h2>
        </div>
        <div class="w-50 d-inline-block text-right">
          <button
            type="button"
            class="btn btn-outline-success btn-min-width ml-1"
            title="Approve"
          >
            Approve
          </button>
          <button
            type="button"
            class="btn btn-outline-danger btn-min-width ml-1"
            title="Reject"
          >
            Reject
          </button>
        </div>
      </ng-container>
    </div>
    <div class="table table-striped add-rows table-responsive">
      <ng-container *ngIf="rows && rows.length > 0">
        <table datatable [dtOptions]="dtOptions" class="table-borderless">
          <thead>
            <tr>
              <th>
                <span class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="selectAll"
                    [checked]="isAllChecked"
                    (click)="checkUncheckAll($event)"
                  />
                  <label class="custom-control-label" for="selectAll"></label>
                </span>
              </th>
              <th></th>
              <ng-container *ngFor="let col of columns; let i = index">
                <th *ngIf="col['name'] != 'BP Site'" id="{{ i + 2 }}">
                  {{ col.name }}
                </th>
                <th *ngIf="col['name'] == 'BP Site'" style="width: 135px">
                  {{ col.name }}
                </th>
              </ng-container>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th></th>
              <th></th>
              <ng-container *ngFor="let col of columns; let i = index">
                <th
                  *ngIf="
                    col['name'] != 'BP Site' && col['name'] != 'BP Virtual'
                  "
                  class="column_filter"
                >
                  <input
                    type="text"
                    placeholder="Search {{ col['name'] }}"
                    name="search-{{ col['element'] }}"
                    id="{{ i + 2 }}"
                  />
                </th>
                <th *ngIf="col['name'] == 'BP Site'" style="width: 135px"></th>
              </ng-container>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let row of rows; let i = index">
              <td>
                <ng-container
                  *ngIf="
                    (tableName == 'depth' && row['status'] != '') ||
                    (tableName == 'width' && row['totalGap'] >= 0) ||
                    (tableName != 'depth' && tableName != 'width')
                  "
                >
                  <span class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="select{{ i }}"
                      [checked]="selectedRows['sku_' + i]"
                      [value]="i"
                      (click)="checkUncheckSingle($event)"
                    />
                    <label
                      class="custom-control-label"
                      for="select{{ i }}"
                    ></label>
                  </span>
                </ng-container>
              </td>
              <td>
                <ng-container
                  *ngIf="
                    (tableName == 'depth' && row['status'] != '') ||
                    (tableName == 'width' && row['totalGap'] >= 0) ||
                    (tableName != 'depth' && tableName != 'width')
                  "
                >
                  <span>
                    <button
                      class="depth-expand-btn"
                      (click)="
                        tableName == 'depth'
                          ? openModal(depthModelContent, row, i + 1)
                          : tableName == 'width'
                          ? openModal(widthModelContent, row)
                          : tableName == 'ibtt'
                          ? openModal(tableModelContent, row)
                          : ''
                      "
                      type="button"
                    >
                      +
                    </button>
                  </span>
                </ng-container>
              </td>
              <td *ngFor="let col of columns">
                <ng-container
                  *ngIf="
                    col['name'] != 'BP Site' && col['name'] != 'BP Virtual'
                  "
                >
                  {{ row[col["element"]] }}
                </ng-container>
                <ng-container *ngIf="col['name'] == 'BP Site'">
                  <span>
                    <ngb-progressbar
                      [type]="
                        row.store_site_buffer_color == 'Blue'
                          ? 'primary'
                          : row.store_site_buffer_color == 'Green'
                          ? 'success'
                          : row.store_site_buffer_color == 'Yellow'
                          ? 'warning'
                          : row.store_site_buffer_color == 'Red'
                          ? 'danger'
                          : 'secondary'
                      "
                      [value]="row.store_site_buffer_Percent"
                    ></ngb-progressbar>
                  </span>
                </ng-container>
                <ng-container *ngIf="col['name'] == 'BP Virtual'">
                  <span>
                    <ngb-progressbar
                      [type]="
                        row.store_Virtul_buffer_color == 'Blue'
                          ? 'primary'
                          : row.store_Virtul_buffer_color == 'Green'
                          ? 'success'
                          : row.store_Virtul_buffer_color == 'Yellow'
                          ? 'warning'
                          : row.store_Virtul_buffer_color == 'Red'
                          ? 'danger'
                          : 'secondary'
                      "
                      [value]="row.store_Virtul_buffer_Percent"
                    ></ngb-progressbar>
                  </span>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </ng-container>
</ng-container>

<ng-template
  class="modal text-left"
  #depthModelContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-sm">
    <div class="modal-header">
      <h6>Review</h6>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <p class="d-block mr-2">Category: <span>Category1</span></p>
          <p class="d-block mr-2">Location: <span>WH1</span></p>
          <p class="d-block mr-2">SKU Description: <span>Fabric1</span></p>
          <p class="d-block mr-2">Total length Available: <span>50</span></p>
        </div>
        <div class="col-12">
          <form class="w-100">
            <div class="input-group mb-1">
              <label for="length" class="d-block w-100">Length required</label>
              <input
                type="text"
                class="form-control"
                placeholder="Length required"
                name="length"
                id="length"
              />
            </div>
            <div class="input-group mb-1">
              <label for="comments" class="d-block w-100">Comments</label>
              <textarea
                class="form-control"
                style="resize: none !important"
                id="comments"
                name="comments"
                rows="3"
                placeholder="Comments"
              ></textarea>
            </div>
            <button
              type="button"
              class="btn btn-success btn-min-width float-right"
              title="Submit"
              (click)="d('Cross click')"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template
  class="modal text-left"
  #widthModelContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-lg">
    <div class="modal-header">
      <h6>Review</h6>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <p class="d-block mr-2">
            AG: <span>{{ selectedRowData["assortmentGroup"] }}</span>
          </p>
        </div>
        <div class="col-md-6">
          <p class="d-block mr-2">
            Store: <span>{{ selectedRowData["stockLocation"] }}</span>
          </p>
        </div>
        <div class="col-md-6">
          <p class="d-block mr-2">
            Total Valid Options available in Origin:
            <span>{{ selectedRowData["validOptions"] }}</span>
          </p>
        </div>
        <div class="col-md-6">
          <p class="d-block mr-2">
            Options Required: <span>{{ selectedRowData["totalGap"] }}</span>
          </p>
        </div>
        <div class="col-12">
          <div class="table table-striped table-bordered add-rows">
            <ngx-datatable
              class="bootstrap depth-table"
              [sortType]="'multi'"
              [headerHeight]="50"
              [limit]="4"
              [footerHeight]="40"
              [rowHeight]="40"
              [rows]="rowWidth"
              [columnMode]="'force'"
              [loadingIndicator]="loadingIndicator"
              [selected]="selected"
              fxFlex="auto"
              [perfectScrollbar]="config"
            >
              <ngx-datatable-column name="Selection" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  let-row="row"
                  let-isSelected="isSelected"
                >
                  <span class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="selectRow{{ row.id }}"
                      [checked]="isSelected"
                      (change)="validOptionChage(row, $event)"
                    />
                    <label
                      class="custom-control-label"
                      for="selectRow{{ row.id }}"
                    ></label>
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <!-- <ngx-datatable-column name="System Selection" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  let-value="value"
                  let-row="row"
                  let-rowIndex="rowIndex"
                  let-onCheckboxChangeFn="onCheckboxChangeFn"
                  let-isSelected="isSelected"
                >
                  <span class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="selectSystem{{ rowIndex }}"
                      [checked]="rowIndex <= 2 ? true : false"
                      (change)="onCheckboxChangeFn($event)"
                    />
                    <label
                      class="custom-control-label"
                      for="selectSystem{{ rowIndex }}"
                    ></label>
                  </span>
                </ng-template>
              </ngx-datatable-column> -->
              <ngx-datatable-column name="Options Details" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.optionsDetails }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Sale Ranking" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.saleRanking }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Origin Stock" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.originStock }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-12 text-right">
        <button
          type="button"
          class="btn btn-success btn-min-width"
          title="Submit"
          (click)="approveRejectWidth()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template
  class="modal text-left"
  #tableModelContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-lg">
    <div class="modal-header">
      <h6 id="myModalLabel23">Review</h6>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <p class="d-inline-block mr-2">Store: <span>Jayanagar</span></p>
          <p class="d-inline-block mr-2">SKU: <span>SKU0129</span></p>
          <p class="d-inline-block mr-2">Stock Needed: <span>7</span></p>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-12">
              <ng-select
                class="mb-1"
                [items]="clusterSelectArray"
                [searchable]="false"
                bindLabel="item_text"
                aria-placeholder="Cluster"
                placeholder="Cluster"
              >
              </ng-select>
            </div>
            <!-- <div class="col-12">
              <ng-select
                class="mb-1"
                [items]="priorityArray"
                [searchable]="false"
                bindLabel="item_text"
                aria-placeholder="Priority"
                placeholder="Priority"
              >
              </ng-select>
            </div> -->
            <div class="col-12">
              <button class="btn btn-primary btn-min-width" type="button">
                Apply
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="collapse-icon accordion-icon-rotate left add-cluster">
            <div class="">
              <a
                data-toggle="collapse"
                class="text-primary"
                (click)="addNewCluster = !addNewCluster"
                [attr.aria-expanded]="addNewCluster"
                aria-controls="addNewCluster"
                >Save New Cluster</a
              >
            </div>
            <div id="addNewCluster" [ngbCollapse]="!addNewCluster">
              <fieldset>
                <div class="input-group" style="margin-top: 5px">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Cluster Name"
                    aria-describedby="button-addon4"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Save</button>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="table table-striped table-bordered add-rows mt-2">
            <ngx-datatable
              class="bootstrap"
              [sortType]="'multi'"
              [headerHeight]="50"
              [footerHeight]="0"
              [limit]="15"
              [rowHeight]="50"
              [rows]="clusterDonerData"
              [columnMode]="'force'"
              [loadingIndicator]="loadingIndicator"
              [selected]="selected"
              [selectionType]="'checkbox'"
              fxFlex="auto"
              [perfectScrollbar]="config"
            >
              <ngx-datatable-column [flexGrow]="1" [maxWidth]="40">
                <ng-template
                  ngx-datatable-cell-template
                  let-row="row"
                  let-isSelected="isSelected"
                >
                  <span class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="selectRow{{ row.id }}"
                      [checked]="isSelected"
                      (change)="onCheckboxChangeFn(row, $event)"
                    />
                    <label
                      class="custom-control-label"
                      for="selectRow{{ row.id }}"
                    ></label>
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="1">
                <ng-template ngx-datatable-header-template>
                  <span>Origin Stock</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.originStock }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="1">
                <ng-template ngx-datatable-header-template>
                  <span>Replenish</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span>
                    <select
                      name=""
                      id=""
                      class="form-control w-50"
                      style="height: 30px"
                      [(ngModel)]="replenishNeeded[row.id]"
                      (change)="changeReplenishNeeded(row.id)"
                      [disabled]="
                        replenishNeeded[row.id] == undefined ||
                        replenishNeeded[row.id] == null
                      "
                    >
                      <option
                        [value]="i"
                        *ngFor="
                          let d of genArray(row.replenish_Needed);
                          let i = index
                        "
                      >
                        {{ i }}
                      </option>
                    </select>
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="1">
                <ng-template ngx-datatable-header-template>
                  <span>Available Stock</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.available_stock }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
        <div class="col-12">
          <div class="text-right">
            <button
              type="button"
              class="btn btn-success btn-min-width ml-1"
              title="Approve"
              (click)="getApproveRejectDepth(1)"
              [disabled]="finalRecommend.length == 0"
            >
              Approve
            </button>
            <!-- <button
              type="button"
              class="btn btn-danger btn-min-width ml-1"
              title="Reject"
              (click)="getApproveRejectDepth(0)"
            >
              Reject
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
