.dropdown-menu-right {
  right: 0;
  left: auto !important;
}

.dropdown-menu.arrow:before {
  left: 70px !important;
  border-bottom-color: #ffffff;
}

.dropdown-menu.arrow:after {
  top: 0px;
}

@media only screen and (max-width: 767px) {
  ._dropdown_mob {
    margin-left: 150px !important;
    transform: translate(40px, 40px) !important;
  }
}
::ng-deep .view-all-filter .multiselect-dropdown .dropdown-btn {
  border: 0px !important;
  border-bottom: 1px solid #adadad !important;
  padding: 5px 25px 5px 10px !important;
  border-radius: 0px !important;
}
::ng-deep .view-all-filter .multiselect-dropdown .dropdown-btn span {
  font-size: 13px !important;
}
::ng-deep .view-all-filter .multiselect-dropdown .dropdown-btn .dropdown-down {
  border-top: 5px solid #adadad !important;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
}
::ng-deep .view-all-filter .multiselect-dropdown .dropdown-btn .dropdown-up {
  border-bottom: 5px solid #adadad !important;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
}
::ng-deep .view-all-filter .dropdown-list .filter-textbox input {
  padding: 0px !important;
}
::ng-deep .view-all-filter .dropdown-list {
  padding-top: 0px !important;
  border: 1px solid #eee !important;
  border-radius: 0px !important;
  margin-top: 3px !important;
  box-shadow: 0 1px 5px #e3dfdf !important;
}
::ng-deep .view-all-filter .dropdown-list .filter-textbox {
  padding: 5px 10px !important;
}
::ng-deep .multiselect-item-checkbox input[type="checkbox"] + div:before {
  content: "";
  color: #666ee8 !important;
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -9px;
  border: 1px solid #adb5bd !important;
  border-radius: 3px !important;
}
::ng-deep
  .multiselect-item-checkbox
  input[type="checkbox"]:checked
  + div:before {
  -webkit-animation: none !important;
  animation: none !important;
  background: #666ee8 !important;
}
::ng-deep .multiselect-item-checkbox input[type="checkbox"] + div:after {
  left: 4px !important;
  width: 5px !important;
  height: 2px !important;
  margin-top: -4px !important;
  border-width: 0 0 2px 2px !important;
}
::ng-deep .multiselect-dropdown .dropdown-btn .selected-item {
  border: 1px solid #666ee8 !important;
  background: #666ee8 !important;
}
.filter-apply-btns {
  position: absolute;
  right: 15px;
  top: 0px;
}
.filter-apply-btns button {
  padding: 8px 10px !important;
  font-size: 13px !important;
}
.fliters-tabs {
  margin-top: 25px;
}
.applied-filters {
  padding: 30px;
}
