<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-body">
      <div class="row">
        <div class="col-12 col-md-12 mb-3">
          <div class="card w-50 m-auto">
            <div class="card-header">
              <h4 class="card-title text-center">
                Final List of Approved request
              </h4>
            </div>
            <div class="card-content collapse show">
              <div class="card-body pt-0">
                <div class="row">
                  <div
                    class="col-md-12 col-12 border-right-blue-grey border-right-lighten-5 text-center"
                  >
                    <h4 class="font-large-2 text-bold-400">08</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right">
      <button
        type="button"
        class="btn btn-success btn-min-width mb-1"
        title="+ Add New Entry"
        routerLink="/edit-seasonality"
      >
        + Add New Entry
      </button>
    </div>
    <section id="selection-n-deletion">
      <div class="card px-1">
        <div class="card-header px-0">
          <h2 class="card-title">Seasonality</h2>
        </div>
        <ng-container mCardBody>
          <ng-container mCardBody>
            <div class="btn-group depth-btns d-block mb-1">
              <div
                ngbDropdown
                class="d-inline-block w-50 column-setting"
                [autoClose]="false"
              >
                <button
                  class="btn btn-secondary dropdown-toggle"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                  title="Column Setting"
                >
                  Column Setting
                </button>
                <div
                  ngbDropdownMenu
                  class="open-left arrow"
                  aria-labelledby="dropdownBasic1"
                >
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Event Group
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Name
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Filter
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Start
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    End
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Resize
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Steps
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Method
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Recurrence
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Actions
                  </button>
                </div>
              </div>
              <div class="w-50 d-inline-block text-right">
                <button
                  type="button"
                  class="btn btn-outline-success btn-min-width ml-1"
                  title="Approve"
                >
                  Approve
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger btn-min-width ml-1"
                  title="Reject"
                >
                  Reject
                </button>
              </div>
            </div>
            <div class="table table-striped table-bordered add-rows">
              <ngx-datatable
                class="bootstrap depth-table"
                [sortType]="'multi'"
                [headerHeight]="50"
                [limit]="7"
                [footerHeight]="40"
                [rowHeight]="40"
                [rows]="rows"
                [columnMode]="'force'"
                [loadingIndicator]="loadingIndicator"
                [selected]="selected"
                [selectionType]="'checkbox'"
                (select)="onSelect($event)"
                fxFlex="auto"
                [perfectScrollbar]="config"
              >
                <ngx-datatable-column [flexGrow]="1" [maxWidth]="40">
                  <ng-template
                    ngx-datatable-header-template
                    let-value="value"
                    let-allRowsSelected="allRowsSelected"
                    let-selectFn="selectFn"
                  >
                    <span class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="selectAll"
                        [checked]="allRowsSelected"
                        (change)="selectFn(!allRowsSelected)"
                      />
                      <label
                        class="custom-control-label"
                        for="selectAll"
                      ></label>
                    </span>
                  </ng-template>
                  <ng-template
                    ngx-datatable-cell-template
                    let-value="value"
                    let-row="row"
                    let-rowIndex="rowIndex"
                    let-onCheckboxChangeFn="onCheckboxChangeFn"
                    let-isSelected="isSelected"
                  >
                    <span class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="select{{ rowIndex }}"
                        [checked]="isSelected"
                        (change)="onCheckboxChangeFn($event)"
                      />
                      <label
                        class="custom-control-label"
                        for="select{{ rowIndex }}"
                      ></label>
                    </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Event Group" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    {{ element.eventGroup }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Name" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    {{ element.name }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Filter" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    {{ element.filter }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Start" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    {{ element.start }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="End" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    {{ element.end }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Resize" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    {{ element.resize }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Steps" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    {{ element.steps }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Method" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    {{ element.method }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Recurrence" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    {{ element.recurrence }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions" [flexGrow]="1">
                  <ng-template ngx-datatable-cell-template>
                    <span>
                      <button
                        type="button"
                        class="btn btn-icon btn-outline-primary mr-1"
                        title="Edit"
                        style="padding: 3px 5px; margin-top: -5px"
                      >
                        <i class="feather ft-edit"></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-icon btn-outline-danger mr-1"
                        title="Delete"
                        style="padding: 3px 5px; margin-top: -5px"
                      >
                        <i class="feather ft-delete"></i>
                      </button>
                    </span>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </section>
  </div>
</div>
