.tab-content .tab-pane {
  padding-top: 20px;
}

.alert {
  padding: 8px;
  margin-bottom: 8px;
}

.form-control.is-invalid {
  border-color: #cacfe7;
  background-image: none !important;
}

:host ::ng-deep .block-ui-wrapper {
  background: rgba(255, 249, 249, 0.5) !important;
}

:host ::ng-deep .wizard-steps.vertical {
  width: 90%;
}
:host ::ng-deep .vertical .large-filled-symbols {
  width: 10;
}

@media screen and (max-width: 480px) {
  .wizard-steps.vertical {
    width: 80% !important;
  }
}

@media screen and (max-width: 480px) {
  .vertical .large-filled-symbols {
    width: 20% !important;
  }
}

:host ::ng-deep .horizontal.large-filled-symbols ul.steps-indicator li:after {
  color: #999;
  font-size: 19px;
  text-align: center;
  border: 5px solid #f4f5fa;
  background-color: #fff;
  line-height: 40px;
}

:host
  ::ng-deep
  .horizontal.large-filled-symbols
  ul.steps-indicator
  li.editing:after {
  color: #1fdbcd;
  border: 3px solid #1fdbcd !important;
  background-color: #fff;
  line-height: 40px;
}
:host
  ::ng-deep
  .horizontal.large-filled-symbols
  ul.steps-indicator
  li.editing1:after {
  color: #1fdbcd;
  border: 3px solid #1fdbcd !important;
  background-color: #fff;
  line-height: 40px;
}

:host
  ::ng-deep
  .horizontal.large-filled-symbols
  ul.steps-indicator
  li.current:after {
  color: #1fdbcd;
  border: 3px solid #1fdbcd !important;
  background-color: #fff;
  line-height: 40px;
}

:host
  ::ng-deep.horizontal.large-filled-symbols
  ul.steps-indicator
  li.done:after {
  color: #fff;
  border: 3px solid #1fdbcd !important;
  background-color: #1fdbcd;
  line-height: 40px;
}
:host
  ::ng-deep
  .horizontal.large-filled-symbols
  ul.steps-indicator
  li:not(:last-child):before {
  background-color: #e6e6e6;
  content: "";
  position: absolute;
  width: calc(100% - 50px);
  top: -25px;
  left: calc(50% + 25px);
}
:host
  ::ng-deep
  .horizontal.large-filled-symbols
  ul.steps-indicator
  li.done:before {
  background-color: #1fdbcd;
  content: "";
  position: absolute;
  width: calc(100% - 50px);
  top: -25px;
  left: calc(50% + 25px);
}

:host
  ::ng-deep
  .horizontal.large-filled-symbols
  ul.steps-indicator
  li.done.step:after {
  background-color: #1fdbcd;
  border-color: #1fdbcd;
  color: #fff;
  line-height: 40px;
}
:host ::ng-deep .horizontal ul.steps-indicator li .step-indicator {
  position: relative;
  margin: 0px;
  padding: 10px 0 0;
  text-align: center;
}
:host ::ng-deep .btn-light:not(:disabled):not(.disabled):active {
  color: unset !important;
  background-color: unset !important;
  border-color: #d3d9df !important;
}

:host ::ng-deep .btn-light:hover:not(.disabled):active {
  background-color: #e2e6ea !important;
  border-color: #dae0e5 !important;
}

:host ::ng-deep .btn-light {
  color: unset !important;
  background-color: unset !important;
  border-color: unset !important;
}

:host ::ng-deep .bg-primary {
  background-color: #007bff !important;
}

:host ::ng-deep .text-white {
  color: #fff !important;
}

:host ::ng-deep .custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

:host ::ng-deep .custom-day:active {
  color: #6d7183 !important;
  background-color: #fff !important;
  border-block-color: rgb(2, 117, 216) !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

:host ::ng-deep .hidden {
  display: block !important;
}

.ngb-dp-weekday {
  color: #17a2b8;
}

.ngb-dp-week-number,
.ngb-dp-weekday {
  line-height: 2rem;
  text-align: center;
  font-style: italic;
}

.ngb-datepicker-month-view {
  pointer-events: auto;
}

.small {
  font-size: 80%;
  font-weight: 400;
}

.ngb-dp-day {
  cursor: pointer !important;
}

.ngb-dp-month {
  pointer-events: none;
}

.btn-light:hover {
  color: #212529 !important;
  background-color: #e2e6ea !important;
  border-color: #dae0e5 !important;
}

.ngb-datepicker-month-view {
  pointer-events: auto;
}

.ngb-dp-header {
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
  padding-top: 0.25rem;
}

.ngb-dp-day,
.ngb-dp-week-number,
.ngb-dp-weekday {
  width: 2rem;
  height: 2rem;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

:host ::ng-deep .block-ui-wrapper {
  background: rgba(255, 249, 249, 0.5) !important;
}
/* Datepicker CSS */

:host ::ng-deep .btn-light:not(:disabled):not(.disabled):active {
  color: unset !important;
  background-color: unset !important;
  border-color: #d3d9df !important;
}

:host ::ng-deep .btn-light:hover:not(.disabled):active {
  background-color: #e2e6ea !important;
  border-color: #dae0e5 !important;
}

:host ::ng-deep .btn-light {
  color: unset !important;
  background-color: unset !important;
  border-color: unset !important;
}

:host ::ng-deep .bg-primary {
  background-color: #007bff !important;
}

:host ::ng-deep .text-white {
  color: #fff !important;
}

:host ::ng-deep .custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

:host ::ng-deep .custom-day:active {
  color: #6d7183 !important;
  background-color: #fff !important;
  border-block-color: rgb(2, 117, 216) !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

:host ::ng-deep .hidden {
  display: block !important;
}

.ngb-dp-weekday {
  color: #17a2b8;
}

.ngb-dp-week-number,
.ngb-dp-weekday {
  line-height: 2rem;
  text-align: center;
  font-style: italic;
}

.ngb-datepicker-month-view {
  pointer-events: auto;
}

.small {
  font-size: 80%;
  font-weight: 400;
}

.ngb-dp-day {
  cursor: pointer !important;
}

.ngb-dp-month {
  pointer-events: none;
}

.btn-light:hover {
  color: #212529 !important;
  background-color: #e2e6ea !important;
  border-color: #dae0e5 !important;
}

.ngb-datepicker-month-view {
  pointer-events: auto;
}

.ngb-dp-header {
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
  padding-top: 0.25rem;
}

.ngb-dp-day,
.ngb-dp-week-number,
.ngb-dp-weekday {
  width: 2rem;
  height: 2rem;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

:host ::ng-deep .block-ui-wrapper {
  background: rgba(255, 249, 249, 0.5) !important;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  width: 2rem;
}
.custom-day:hover,
.custom-day.focused {
  background-color: #e6e6e6;
}
.weekend {
  background-color: #f0ad4e;
  border-radius: 1rem;
  color: white;
}
.hidden {
  display: none;
}
/* Filter CSS */

::ng-deep .view-all-filter .multiselect-dropdown .dropdown-btn {
  border: 0px !important;
  border-bottom: 1px solid #adadad !important;
  padding: 5px 10px 5px 0px !important;
  border-radius: 0px !important;
}
::ng-deep .view-all-filter .multiselect-dropdown .dropdown-btn span {
  font-size: 13px !important;
}
::ng-deep .view-all-filter .multiselect-dropdown .dropdown-btn .dropdown-down {
  border-top: 5px solid #adadad !important;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
}
::ng-deep .view-all-filter .multiselect-dropdown .dropdown-btn .dropdown-up {
  border-bottom: 5px solid #adadad !important;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
}
::ng-deep .view-all-filter .dropdown-list .filter-textbox input {
  padding: 0px !important;
}
::ng-deep .view-all-filter .dropdown-list {
  padding-top: 0px !important;
  border: 1px solid #eee !important;
  border-radius: 0px !important;
  margin-top: 3px !important;
  box-shadow: 0 1px 5px #e3dfdf !important;
}
::ng-deep .view-all-filter .dropdown-list .filter-textbox {
  padding: 5px 10px !important;
}
::ng-deep .multiselect-item-checkbox input[type="checkbox"] + div:before {
  content: "";
  color: #666ee8 !important;
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -9px;
  border: 1px solid #adb5bd !important;
  border-radius: 3px !important;
}
::ng-deep
  .multiselect-item-checkbox
  input[type="checkbox"]:checked
  + div:before {
  -webkit-animation: none !important;
  animation: none !important;
  background: #666ee8 !important;
}
::ng-deep .multiselect-item-checkbox input[type="checkbox"] + div:after {
  left: 4px !important;
  width: 5px !important;
  height: 2px !important;
  margin-top: -4px !important;
  border-width: 0 0 2px 2px !important;
}
::ng-deep .multiselect-dropdown .dropdown-btn .selected-item {
  border: 1px solid #666ee8 !important;
  background: #666ee8 !important;
}
::ng-deep .view-all-filter .dropdown-list ul {
  max-height: 170px !important;
}
.filter-apply-btns {
  position: absolute;
  right: 15px;
  top: 0px;
}
.filter-apply-btns button {
  padding: 8px 10px !important;
  font-size: 13px !important;
}
.fliters-tabs {
  margin-top: 25px;
}
.applied-filters {
  padding: 30px;
}
/* Tabs */
::ng-deep
  .product-tabs
  .nav.nav-tabs.nav-underline
  .nav-item
  a.nav-link:before {
  background: #ff4961 !important;
}
::ng-deep .product-tabs .nav.nav-tabs.nav-underline .nav-item a.nav-link {
  color: #707070 !important;
}
.column-container,
.product-tabs {
  padding-bottom: 110px !important;
}
.timeframe-input {
  background-color: transparent !important;
  cursor: pointer !important;
  border-radius: 0.25rem 0px 0px 0.25rem !important;
}
/* ::ng-deep #number-tabs .custom-control-label::before,
::ng-deep #number-tabs.custom-control-label::after {
  width: 16px;
  height: 16px;
} */
::ng-deep aw-wizard-navigation-bar.horizontal ul.steps-indicator {
  width: 65% !important;
  margin: 0px auto !important;
}
::ng-deep
  aw-wizard-navigation-bar.horizontal.large-filled-symbols
  ul.steps-indicator
  li:after {
  top: -42px !important;
  left: calc(50% - 26px) !important;
  width: 40px !important;
  height: 40px !important;
}
::ng-deep .horizontal.large-filled-symbols ul.steps-indicator li:after {
  color: #707070;
  font-size: 16px !important;
  border: 3px solid #f4f5fa !important;
  line-height: 35px !important;
}
::ng-deep
  .horizontal.large-filled-symbols
  ul.steps-indicator
  li:not(:last-child):before {
  height: 2px !important;
  width: calc(104% - 50px) !important;
  top: -23px !important;
  left: calc(46% + 25px) !important;
}
::ng-deep .horizontal.large-filled-symbols ul.steps-indicator li.done:before {
  height: 2px !important;
}
::ng-deep
  .horizontal.large-filled-symbols
  ul.steps-indicator
  li:not(:last-child):before {
  height: 2px !important;
}
.date-label {
  margin-top: 8px;
}
::ng-deep dp-date-picker.dp-material .dp-picker-input {
  padding: 0px 10px !important;
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 40px;
  align-items: center;
  cursor: pointer;
  min-width: 100px;
}
.seasonality-input {
  padding: 0px 10px !important;
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 36px;
  align-items: center;
  cursor: pointer;
}
::ng-deep dp-date-picker.dp-material .dp-picker-input {
  width: 100% !important;
}
.add-event-btn {
  border: 0px;
  background: transparent;
  color: #666ee8 !important;
  position: absolute;
  right: 15px;
  padding: 0px;
  margin: 0px;
  font-size: 13px;
}
.add-event-btn:focus {
  outline: 0px !important;
}
.save-event-btn {
  height: 36px;
  display: flex;
  align-items: center;
}
