<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-body">
      <div class="row">
        <div class="col-12 col-md-12 mb-3">
          <div class="card w-50 m-auto">
            <div class="card-header">
              <h4 class="card-title text-center">
                Pending decisions based on this selection of products
              </h4>
            </div>
            <div class="card-content collapse show">
              <div class="card-body pt-0">
                <div class="row">
                  <div
                    class="col-md-12 col-12 border-right-blue-grey border-right-lighten-5 text-center"
                  >
                    <h4
                      class="font-large-2 text-bold-400"
                      *ngIf="pendingdepthCount !== undefined"
                    >
                      {{ pendingdepthCount }}
                    </h4>
                    <!-- <p class="blue-grey lighten-2 mb-0">Depth</p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" *ngIf="filterJson != ''">
          <div class="card">
            <div class="card-body filter_row">
              <div
                ngbDropdown
                class="d-inline-block w-50 column-setting"
                [autoClose]="false"
              >
                <h2 class="card-title">Applied Filters</h2>
              </div>
              <div class="w-50 d-inline-block text-right">
                <button
                  type="button"
                  class="btn btn-outline-danger btn-min-width ml-1"
                  title="Clear all"
                  (click)="clearAllFilter()"
                >
                  Clear all
                </button>
              </div>
              <ul>
                <!--Brand-->
                <li
                  class=""
                  *ngFor="let productBrandData of productBrandDataDatalist"
                >
                  Brand:
                  <span> {{ productBrandData }}</span>
                  <!-- <span class="close_icon" title="Remove"></span> -->
                </li>
                <li class="" *ngFor="let genderData of genderDatalist">
                  Gender:
                  <span> {{ genderData }}</span>
                  <!-- <span class="close_icon" title="Remove"></span> -->
                </li>
                <li class="" *ngFor="let categoryData of categoryDataList">
                  Category:
                  <span> {{ categoryData }}</span>
                  <!-- <span class="close_icon" title="Remove"></span> -->
                </li>
                <li
                  class=""
                  *ngFor="let subCategoryData of subCategoryDatalist"
                >
                  Sub Category:
                  <span> {{ subCategoryData }}</span>
                  <!-- <span class="close_icon" title="Remove"></span> -->
                </li>
                <li
                  class=""
                  *ngFor="let subCategoryData of subCategoryDatalist"
                >
                  Sub Category:
                  <span> {{ subCategoryData }}</span>
                  <!-- <span class="close_icon" title="Remove"></span> -->
                </li>
                <li class="" *ngFor="let typeData of typeDatalist">
                  Type:
                  <span> {{ typeData }}</span>
                  <!-- <span class="close_icon" title="Remove"></span> -->
                </li>

                <li class="" *ngFor="let lastNameData of lastNameDatalist">
                  last Name:
                  <span> {{ lastNameData }}</span>
                  <!-- <span class="close_icon" title="Remove"></span> -->
                </li>
                <li class="" *ngFor="let seasonData of seasonDatalist">
                  Season:
                  <span> {{ seasonData }}</span>
                  <!-- <span class="close_icon" title="Remove"></span> -->
                </li>

                <li class="" *ngFor="let mrpData of mrpDatalist">
                  MRP:
                  <span> {{ mrpData }}</span>
                  <!-- <span class="close_icon" title="Remove"></span> -->
                </li>

                <li
                  class=""
                  *ngFor="let articalNumberDatalist of articalNumberDatalist"
                >
                  Article Number:
                  <span> {{ articalNumberData }}</span>
                  <!-- <span class="close_icon" title="Remove"></span> -->
                </li>

                <li
                  class=""
                  *ngFor="let ChannelDatalist of selectedChannelDatalist"
                >
                  Channel:
                  <span> {{ ChannelDatalist }}</span>
                  <!-- <span class="close_icon" title="Remove"></span> -->
                </li>

                <li
                  class=""
                  *ngFor="let partnerDatalist of selectedpartnerDatalist"
                >
                  Partner:
                  <span> {{ partnerDatalist }}</span>
                  <!-- <span class="close_icon" title="Remove"></span> -->
                </li>

                <li
                  class=""
                  *ngFor="let regionDatalist of selectedregionDatalist"
                >
                  Region:
                  <span> {{ regionDatalist }}</span>
                  <span class="close_icon" title="Remove"></span>
                </li>
                <li
                  class=""
                  *ngFor="let StateDatalist of selectedStateDatalist"
                >
                  State:
                  <span> {{ StateDatalist }}</span>
                  <span class="close_icon" title="Remove"></span>
                </li>
                <li
                  class=""
                  *ngFor="let LocationDatalist of selectedLocationDatalist"
                >
                  Location:
                  <span> {{ LocationDatalist }}</span>
                  <span class="close_icon" title="Remove"></span>
                </li>
                <li
                  class=""
                  *ngFor="let StoreCodeDatalist of selectedStoreCodeDatalist"
                >
                  Store Code:
                  <span> {{ StoreCodeDatalist }}</span>
                  <span class="close_icon" title="Remove"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="selection-n-deletion">
      <div class="card px-1">
        <!-- <div class="card-header px-0">
          <h2 class="card-title">Reviewing Buffer</h2>
        </div> -->
        <app-records-table
          (chartModel)="chartModelLoad(chartModelContent, $event)"
          [columns]="columns"
          [rows]="rows"
          [tableName]="'depth'"
          *ngIf="rows && rows.length > 0"
        ></app-records-table>
        <div class="card-header px-0" *ngIf="rows && rows.length == 0">
          <h2 class="card-title">Reviewing Buffer</h2>
          <h1>No Records Found!</h1>
        </div>
        <!-- <ng-container mCardBody>
          <ng-container mCardBody>
            <div class="btn-group depth-btns d-block mb-1">
              <div
                ngbDropdown
                class="d-inline-block w-50 column-setting"
                [autoClose]="false"
              >
                <button
                  class="btn btn-secondary dropdown-toggle"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                  title="Column Setting"
                >
                  Column Setting
                </button>
                <div
                  ngbDropdownMenu
                  class="open-left arrow"
                  aria-labelledby="dropdownBasic1"
                >
                  <button
                    class="dropdown-item"
                    *ngFor="let columnlist of columns"
                  >
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                      [(ngModel)]="columnlist.status"
                      (ngModelChange)="item.status = toggleValue ? true : false"
                    >
                    </ui-switch>
                    {{ columnlist.name }}
                  </button>
                </div>
              </div>
              <div class="w-50 d-inline-block text-right">
                <button
                  type="button"
                  class="btn btn-outline-success btn-min-width ml-1"
                  title="Approve"
                >
                  Approve
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger btn-min-width ml-1"
                  title="Reject"
                >
                  Reject
                </button>
              </div>
            </div>
            <div class="table table-striped table-bordered add-rows">
              <ngx-datatable
                class="bootstrap depth-table"
                [sortType]="'multi'"
                [headerHeight]="50"
                [limit]="25"
                [footerHeight]="40"
                [rowHeight]="40"
                [rows]="rows"
                [columnMode]="'force'"
                [loadingIndicator]="loadingIndicator"
                [selected]="selected"
                [selectionType]="'checkbox'"
                (select)="onSelect($event)"
                fxFlex="auto"
                [perfectScrollbar]="config"
              >
                <ngx-datatable-column [flexGrow]="1" [maxWidth]="40">
                  <ng-template
                    ngx-datatable-header-template
                    let-value="value"
                    let-allRowsSelected="allRowsSelected"
                    let-selectFn="selectFn"
                  >
                    <span class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="selectAll"
                        [checked]="allRowsSelected"
                        (change)="selectFn(!allRowsSelected)"
                      />
                      <label
                        class="custom-control-label"
                        for="selectAll"
                      ></label>
                    </span>
                  </ng-template>
                  <ng-template
                    ngx-datatable-cell-template
                    let-value="value"
                    let-row="row"
                    let-rowIndex="rowIndex"
                    let-onCheckboxChangeFn="onCheckboxChangeFn"
                    let-isSelected="isSelected"
                  >
                    <span class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="select{{ rowIndex }}"
                        [checked]="isSelected"
                        (change)="onCheckboxChangeFn($event)"
                      />
                      <label
                        class="custom-control-label"
                        for="select{{ rowIndex }}"
                      ></label>
                    </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="1" [maxWidth]="40">
                  <ng-template
                    ngx-datatable-cell-template
                    let-value="value"
                    let-row="row"
                    let-rowIndex="rowIndex"
                  >
                    <span>
                      <button
                        class="depth-expand-btn"
                        (click)="SmallModel(depthModelContent)"
                        type="button"
                      >
                        +
                      </button>
                    </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column *ngIf="columns[0].status">
                  <ng-template ngx-datatable-header-template>
                    <span>Status</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.status }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="1" *ngIf="columns[1].status">
                  <ng-template ngx-datatable-header-template>
                    <span>New Buffer Size</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>
                      {{ row.newBufferSize }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="Buffer Size"
                  [flexGrow]="1"
                  *ngIf="columns[2].status"
                >
                  <ng-template ngx-datatable-header-template>
                    <span>Buffer Size</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>
                      {{ row.buffer }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  name="SKU"
                  [flexGrow]="1"
                  *ngIf="columns[3].status"
                >
                  <ng-template ngx-datatable-header-template>
                    <span>SKU</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>
                      {{ row.sku }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [flexGrow]="1" *ngIf="columns[4].status">
                  <ng-template ngx-datatable-header-template>
                    <span>DBM Policy</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>
                      {{ row.dbM_Policy }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="BP"
                  [flexGrow]="1"
                  *ngIf="columns[5].status"
                >
                  <ng-template ngx-datatable-header-template>
                    <span>BP</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>
                      <ngb-progressbar
                        type="success"
                        [value]="row.store_site_buffer_Percent"
                      ></ngb-progressbar>
                      {{ row.dbM_Policy }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="1" *ngIf="columns[6].status">
                  <ng-template ngx-datatable-header-template>
                    <span>SKU Description</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>
                      {{ row.sku_Desc }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="1" *ngIf="columns[7].status">
                  <ng-template ngx-datatable-header-template>
                    <span>Style Code</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>
                      {{ row.stylecode }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="1" *ngIf="columns[8].status">
                  <ng-template ngx-datatable-header-template>
                    <span>Size French</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>
                      {{ row.size_French }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="1" *ngIf="columns[9].status">
                  <ng-template ngx-datatable-header-template>
                    <span>MRP</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>
                      {{ row.mrp }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="1" *ngIf="columns[10].status">
                  <ng-template ngx-datatable-header-template>
                    <span>Stock on Hand</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>
                      {{ row.soh }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </ng-container>
        </ng-container> -->
      </div>
    </section>
  </div>
</div>
<!-- Modal -->

<ng-template
  class="modal text-left"
  #chartModelContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-lg">
    <div class="modal-header">
      <h6 id="myModalLabel23">Review</h6>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-5 mb-2">
          <label for="" class="d-inline-block mr-2">View</label>
          <ng-select
            class="d-inline-block w-50"
            [items]="singleSelectArray"
            [searchable]="false"
            bindLabel="item_text"
            aria-placeholder="View"
            placeholder="Select Data"
            [(ngModel)]="chartEvent['currentstatusdepth']"
            (change)="changeChartViewData(chartModelContent)"
          >
          </ng-select>
        </div>
      </div>
      <div
        class="lineStackedArea"
        id="depth-chart"
        *ngIf="lineChartData.length > 0"
      >
        <canvas
          height="250"
          baseChart
          class="chart"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
        >
        </canvas>
      </div>
    </div>
  </div>
</ng-template>

<ng-template
  class="modal text-left"
  #depthModelContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-sm">
    <div class="modal-header">
      <h6>Review</h6>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <p class="d-block mr-2">Category: <span>Category1</span></p>
          <p class="d-block mr-2">Location: <span>WH1</span></p>
          <p class="d-block mr-2">SKU Description: <span>Fabric1</span></p>
          <p class="d-block mr-2">Total length Available: <span>50</span></p>
        </div>
        <div class="col-12">
          <form class="w-100">
            <div class="input-group mb-1">
              <label for="length" class="d-block w-100">Length required</label>
              <input
                type="text"
                class="form-control"
                placeholder="Length required"
                name="length"
                id="length"
              />
            </div>
            <div class="input-group mb-1">
              <label for="comments" class="d-block w-100">Comments</label>
              <textarea
                class="form-control"
                style="resize: none !important"
                id="comments"
                name="comments"
                rows="3"
                placeholder="Comments"
              ></textarea>
            </div>
            <button
              type="button"
              class="btn btn-success btn-min-width float-right"
              title="Submit"
              (click)="d('Cross click')"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
