<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-body">
      <section class="flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="col-md-4 col-10 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
              <div class="card-header border-0">
                <div class="card-title text-center">
                  <img
                    src="assets/images/logo.svg"
                    width="120"
                    alt="branding logo"
                  />
                </div>
                <h6
                  class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"
                >
                  <span>Make the right change!</span>
                </h6>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <form
                    class="form-horizontal"
                    [formGroup]="forgotForm"
                    (ngSubmit)="tryForgot()"
                  >
                    <fieldset
                      class="form-group position-relative has-icon-left"
                    >
                      <input
                        type="email"
                        formControlName="email"
                        class="form-control"
                        email
                        [ngClass]="{
                          'is-invalid': submitted && f.email.errors
                        }"
                        placeholder="Your Email Address"
                        required
                      />
                      <div class="form-control-position">
                        <i class="feather ft-mail"></i>
                      </div>
                      <div
                        *ngIf="submitted && f.email.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.email.errors.required">
                          Email is required
                        </div>
                      </div>
                    </fieldset>

                    <button
                      type="submit"
                      class="btn btn-outline-info btn-block"
                    >
                      <i class="fa fa-refresh fa-spin" *ngIf="submitted"></i>
                      <i class="feather ft-user" *ngIf="!submitted"></i>
                      Send
                    </button>
                  </form>
                </div>
                <div class="card-body">
                  <a
                    [routerLink]="['/']"
                    class="btn btn-outline-danger btn-block"
                    ><i class="feather ft-unlock"></i> Login</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
