/* You can add global styles to this file, and also import other style files */
/*@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-color: #f7f7f7 !important;
}

.margin-top-70{
    margin-top: 70px;
}*/
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";
.horizontal-menu .navbar-dark .active > a i {
  color: #ff4961 !important;
}
.horizontal-menu .navbar-dark .nav-item.active > a {
  background-color: rgb(255 210 210 / 47%) !important;
  font-weight: 600 !important;
}
/* .horizontal-menu .navbar-dark .active > a {
  font-weight: 400 !important;
} */
:host ::ng-deep .email-fixed-header {
  min-height: calc(100% - 207px) !important;
  margin-top: 0 !important;
  overflow-y: hidden !important;
}
.main-menu.menu-dark .navigation {
  background: #ddfaf8 !important;
}
.main-menu.menu-dark .navigation {
  background: #ddfaf8 !important;
}
.navbar-semi-dark .navbar-header {
  background: #ddfaf8 !important;
}
.main-menu.menu-dark .navigation li a {
  color: #707070 !important;
  transition: all 0.2s ease;
}
.horizontal-menu .navbar-horizontal .nav-item a .badge {
  top: -4px !important;
  font-size: 13px;
  right: -7px !important;
  vertical-align: top;
  /* vertical-align: -webkit-baseline-middle; */
}
.horizontal-menu .navbar-horizontal ul#main-menu-navigation > li > a {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
/* Breadcrumb */

.table th,
.table td {
  padding: 10px 15px !important;
  vertical-align: top;
  border-top: 1px solid #626e82;
}
.saved-filters ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.saved-filters ul li {
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0px;
}
.saved-filters ul li:last-child {
  border-bottom: 0px;
}
.saved-filters ul li span {
  float: right;
}
.saved-filters ul li span button {
  padding: 5px;
}
.close:focus {
  outline: 0 !important;
}
/* .view-all-filter {
  min-width: 200px;
} */

@media only screen and (max-width: 767px) {
  ._dropdown_mob {
    margin-left: 150px !important;
    transform: translate(40px, 40px) !important;
  }
  .chart-btns ul li button {
    width: 115px !important;
    height: 35px !important;
    font-size: 13px !important;
  }
  .vertical-overlay-menu
    .header-navbar
    .navbar-header
    .mobile-menu
    a.menu-toggle {
    color: #d61818 !important;
  }
  .table th,
  .table td {
    font-size: 13px !important;
    white-space: nowrap;
    padding: 10px !important;
  }
  .w-50 {
    width: 100% !important;
  }
}
.breadcrumb-section {
  padding: 9px 30px 7px;
  background-color: #fff;
}

.breadcrumb-section .breadcrumb-item a {
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  text-decoration: none !important;
}

.customizer-toggle,
.buy-now,
.dropdown-menu.arrow:before {
  display: none !important;
}
#menu-header {
  background: #ddfaf8 !important;
  background-color: #ddfaf8 !important;
}
#menu-header ul li a {
  color: #707070 !important;
}
.main-menu.menu-dark .navigation {
  background: #ddfaf8 !important;
  height: 100%;
}
/* .navbar-dark .navbar-nav li {
  line-height: 2 !important;
} */
.horizontal-menu .navbar-horizontal .nav-item i {
  margin-right: 5px;
  vertical-align: text-bottom;
}
.filter-btn {
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  text-decoration: none !important;
}
.filter-btn:focus {
  outline: 0;
}
@media (min-width: 300px) {
  .filters-modal .modal-dialog {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0px !important;
  }
  .filters-modal .modal-content {
    border: 0px !important;
    border-radius: 0px !important;
    min-height: 300px !important;
    outline: 0;
  }
}
/* Applied filters */
.filter_row ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.filter_row ul li {
  color: #74788d;
  font-size: 12px;
  display: inline-block;
  padding: 0px 8px;
  font-weight: 600;
  line-height: 25px;
  list-style: none;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
  border-radius: 2px;
  background-color: #f7f9fc;
  border: 1px solid rgb(226, 229, 237);
}
.filter_row ul li:hover {
  background-color: #f1f5fa !important;
  cursor: pointer;
}
.filter_row ul li span {
  font-weight: 400;
  font-size: 11px;
}
.close_icon {
  display: none;
  background: #f1f5fa;
  width: 17px;
  padding: 2px;
  right: -7px;
  top: -8px;
  position: absolute;
  font-size: 11px;
  text-align: center;
  height: 17px;
  border-radius: 50%;
  border: 1px solid rgb(226, 229, 237);
}
.close_icon:after {
  content: "x";
  position: absolute;
  top: -5.5px;
  left: 4.5px;
  font-size: 13px;
}
.filter_row ul li:hover .close_icon {
  display: block;
}
aw-wizard-navigation-bar.horizontal ul.steps-indicator li div a {
  color: #707070 !important;
  font-weight: 500 !important;
  text-transform: capitalize !important;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute !important;
  left: -9999px !important;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative !important;
  padding-left: 28px !important;
  cursor: pointer !important;
  line-height: 20px !important;
  display: inline-block !important;
  color: #707070 !important;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "" !important;
  position: absolute !important;
  left: 0 !important;
  top: 2 !important;
  width: 16px !important;
  height: 16px !important;
  border: 1px solid #ddd !important;
  border-radius: 100% !important;
  background: #fff !important;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "" !important;
  width: 8px !important;
  height: 8px !important;
  background: #ff4961 !important;
  position: absolute !important;
  top: 7px !important;
  left: 4px !important;
  border-radius: 100% !important;
  -webkit-transition: all 0.2s ease !important;
  transition: all 0.2s ease !important;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0 !important;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
}
[type="radio"]:checked + label:after {
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  font-size: 13px !important;
  padding-left: 25px !important;
  color: #707070 !important;
}
.ngx-datatable.bootstrap .datatable-footer {
  background: #727e8e !important;
}
.ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
  color: #7c8091;
}
.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li:not(.disabled).active
  a,
.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li:not(.disabled):hover
  a,
.ngx-datatable.bootstrap .datatable-footer .datatable-pager a:hover {
  color: #fff;
}
.datatable-icon-right:before {
  font-family: "icofont";
  font-style: normal;
}

.datatable-icon-skip:before {
  font-family: "icofont";
  font-style: normal;
}

.datatable-icon-left:before {
  font-family: "icofont";
  font-style: normal;
}
.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-left,
.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-skip,
.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-right,
.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-prev {
  line-height: 17px;
}
.datatable-icon-left:before {
  content: "\2039";
  font-size: x-large;
}

.datatable-icon-prev:before {
  content: "\00AB";
  font-size: x-large;
}

.datatable-icon-right:before {
  content: "\203A";
  font-size: x-large;
}

.datatable-icon-skip:before {
  content: "\00BB";
  font-size: x-large;
}
.dropdown-menu.arrow {
  max-height: 300px;
  overflow-y: scroll;
  z-index: 99;
}
.ng-select .ng-clear-wrapper {
  left: 6px;
  top: 2px;
}

table.dataTable thead th {
  border-bottom: 1px solid #d1d4d7 !important;
}

table.dataTable tbody tr td {
  border-bottom: 1px solid #d1d4d7 !important;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

table.dataTable.no-footer {
  border: 1px solid #d1d4d7 !important;
  border-top: 0px solid #d1d4d7 !important;
  border-bottom: 0px solid #d1d4d7 !important;
}

div.dt-buttons {
  margin-left: 10px !important;
}

.bg-warning {
  background-color: yellow !important;
}

tfoot {
  display: table-row-group;
}

thead {
  display: table-header-group;
}

.dataTables_filter {
  display: none;
}

.dataTables_wrapper .column_filter input {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
}

.column_filter input {
  padding: 0px 10px !important;
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 40px;
  align-items: center;
  min-width: 100px;
}
