<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-body">
      <div class="row">
        <div class="col-12 col-md-12 mb-3">
          <div class="card w-50 m-auto">
            <div class="card-header">
              <h4 class="card-title text-center">
                Pending decisions based on this selection of products
              </h4>
            </div>
            <div class="card-content collapse show">
              <div class="card-body pt-0">
                <div class="row">
                  <div
                    class="col-md-12 col-12 border-right-blue-grey border-right-lighten-5 text-center"
                  >
                    <h4
                      class="font-large-2 text-bold-400"
                      *ngIf="pendingibtt !== undefined"
                    >
                      {{ pendingibtt }}
                    </h4>
                    <!-- <p class="blue-grey lighten-2 mb-0">Depth</p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="filterJson != ''">
        <div class="card">
          <div class="card-body filter_row">
            <div
              ngbDropdown
              class="d-inline-block w-50 column-setting"
              [autoClose]="false"
            >
              <h2 class="card-title">Applied Filters</h2>
            </div>
            <div class="w-50 d-inline-block text-right">
              <button
                type="button"
                class="btn btn-outline-danger btn-min-width ml-1"
                title="Clear all"
                (click)="clearAllFilter()"
              >
                Clear all
              </button>
            </div>
            <ul>
              <!--Brand-->
              <li
                class=""
                *ngFor="let productBrandData of productBrandDataDatalist"
              >
                Brand:
                <span> {{ productBrandData }}</span>
                <!-- <span class="close_icon" title="Remove"></span> -->
              </li>
              <li class="" *ngFor="let genderData of genderDatalist">
                Gender:
                <span> {{ genderData }}</span>
                <!-- <span class="close_icon" title="Remove"></span> -->
              </li>
              <li class="" *ngFor="let categoryData of categoryDataList">
                Category:
                <span> {{ categoryData }}</span>
                <!-- <span class="close_icon" title="Remove"></span> -->
              </li>
              <li class="" *ngFor="let subCategoryData of subCategoryDatalist">
                Sub Category:
                <span> {{ subCategoryData }}</span>
                <!-- <span class="close_icon" title="Remove"></span> -->
              </li>
              <li class="" *ngFor="let subCategoryData of subCategoryDatalist">
                Sub Category:
                <span> {{ subCategoryData }}</span>
                <!-- <span class="close_icon" title="Remove"></span> -->
              </li>
              <li class="" *ngFor="let typeData of typeDatalist">
                Type:
                <span> {{ typeData }}</span>
                <!-- <span class="close_icon" title="Remove"></span> -->
              </li>

              <li class="" *ngFor="let lastNameData of lastNameDatalist">
                last Name:
                <span> {{ lastNameData }}</span>
                <!-- <span class="close_icon" title="Remove"></span> -->
              </li>
              <li class="" *ngFor="let seasonData of seasonDatalist">
                Season:
                <span> {{ seasonData }}</span>
                <!-- <span class="close_icon" title="Remove"></span> -->
              </li>

              <li class="" *ngFor="let mrpData of mrpDatalist">
                MRP:
                <span> {{ mrpData }}</span>
                <!-- <span class="close_icon" title="Remove"></span> -->
              </li>

              <li
                class=""
                *ngFor="let articalNumberDatalist of articalNumberDatalist"
              >
                Article Number:
                <span> {{ articalNumberData }}</span>
                <!-- <span class="close_icon" title="Remove"></span> -->
              </li>

              <li
                class=""
                *ngFor="let ChannelDatalist of selectedChannelDatalist"
              >
                Channel:
                <span> {{ ChannelDatalist }}</span>
                <!-- <span class="close_icon" title="Remove"></span> -->
              </li>

              <li
                class=""
                *ngFor="let partnerDatalist of selectedpartnerDatalist"
              >
                Partner:
                <span> {{ partnerDatalist }}</span>
                <!-- <span class="close_icon" title="Remove"></span> -->
              </li>

              <li
                class=""
                *ngFor="let regionDatalist of selectedregionDatalist"
              >
                Region:
                <span> {{ regionDatalist }}</span>
                <span class="close_icon" title="Remove"></span>
              </li>
              <li class="" *ngFor="let StateDatalist of selectedStateDatalist">
                State:
                <span> {{ StateDatalist }}</span>
                <span class="close_icon" title="Remove"></span>
              </li>
              <li
                class=""
                *ngFor="let LocationDatalist of selectedLocationDatalist"
              >
                Location:
                <span> {{ LocationDatalist }}</span>
                <span class="close_icon" title="Remove"></span>
              </li>
              <li
                class=""
                *ngFor="let StoreCodeDatalist of selectedStoreCodeDatalist"
              >
                Store Code:
                <span> {{ StoreCodeDatalist }}</span>
                <span class="close_icon" title="Remove"></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <section id="selection-n-deletion">
      <div class="card px-1">
        <!-- <div class="card-header px-0">
          <h2 class="card-title">Inter Store Transfers</h2>
        </div> -->
        <app-records-table
          [columns]="columns"
          [rows]="rows"
          [tableName]="'ibtt'"
          *ngIf="rows && rows.length > 0"
        ></app-records-table>
        <div class="card-header px-0" *ngIf="rows && rows.length == 0">
          <h2 class="card-title">Reviewing Buffer</h2>
          <h1>No Records Found!</h1>
        </div>
        <!-- <ng-container mCardBody>
          <ng-container mCardBody>
            <div class="btn-group depth-btns ibtt-btns d-block mb-1">
              <div
                ngbDropdown
                class="d-inline-block w-50 column-setting"
                [autoClose]="false"
              >
                <button
                  class="btn btn-secondary dropdown-toggle"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                  title="Column Setting"
                >
                  Column Setting
                </button>
                <div
                  ngbDropdownMenu
                  class="open-left arrow"
                  aria-labelledby="dropdownBasic1"
                >
                  <button
                    class="dropdown-item"
                    *ngFor="let columnlist of columns"
                  >
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                      [(ngModel)]="columnlist.status"
                      (ngModelChange)="item.status = toggleValue ? true : false"
                    >
                    </ui-switch>
                    {{ columnlist.name }}
                  </button>
                </div>
              </div>
              <div class="w-50 d-inline-block text-right">
                <button
                  type="button"
                  class="btn btn-outline-success btn-min-width ml-1"
                  title="Approve"
                >
                  Approve
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger btn-min-width ml-1"
                  title="Reject"
                >
                  Reject
                </button>
              </div>
            </div>
            <div class="table table-striped table-bordered add-rows">
              <ngx-datatable
                class="bootstrap depth-table"
                [sortType]="'multi'"
                [headerHeight]="50"
                [limit]="25"
                [footerHeight]="40"
                [rowHeight]="40"
                [rows]="rows"
                [columnMode]="'force'"
                [loadingIndicator]="loadingIndicator"
                [selected]="selected"
                [selectionType]="'checkbox'"
                fxFlex="auto"
                [perfectScrollbar]="config"
              >
                <ngx-datatable-column [flexGrow]="1" [maxWidth]="40">
                  <ng-template
                    ngx-datatable-header-template
                    let-value="value"
                    let-allRowsSelected="allRowsSelected"
                    let-selectFn="selectFn"
                    let-rowIndex="rowIndex"
                  >
                    <span class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="selectAll"
                        [checked]="allRowsSelected"
                        (change)="selectFn(!allRowsSelected)"
                      />
                      <label
                        class="custom-control-label"
                        for="selectAll"
                      ></label>
                    </span>
                  </ng-template>
                  <ng-template
                    ngx-datatable-cell-template
                    let-value="value"
                    let-row="row"
                    let-onCheckboxChangeFn="onCheckboxChangeFn"
                    let-isSelected="isSelected"
                    let-rowIndex="rowIndex"
                  >
                    <span class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="select{{ rowIndex }}"
                        (change)="onCheckboxChangeFn($event)"
                      />
                      <label
                        class="custom-control-label"
                        for="select{{ rowIndex }}"
                      ></label>
                    </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [flexGrow]="1" [maxWidth]="40">
                  <ng-template
                    ngx-datatable-cell-template
                    let-value="value"
                    let-row="row"
                  >
                    <span>
                      <button
                        class="depth-expand-btn"
                        (click)="donerDataList(tableModelContent, row)"
                        type="button"
                      >
                        +
                      </button>
                    </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  name="Status"
                  [flexGrow]="1"
                  class="buffer-status"
                  *ngIf="columns[0].status"
                >
                  <ng-template
                    ngx-datatable-cell-template
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    <span>
                      {{ row.status }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column *ngIf="columns[1].status">
                  <ng-template ngx-datatable-header-template>
                    <span>Replenish Needed</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.replenish_Needed }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="Location"
                  [flexGrow]="1"
                  *ngIf="columns[2].status"
                >
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <span>
                      {{ row.location }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  name="SKU"
                  [flexGrow]="1"
                  *ngIf="columns[3].status"
                >
                  <ng-template ngx-datatable-cell-template let-row="row">
                    {{ row.sku }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  name="SKU Desc"
                  *ngIf="columns[4].status"
                  [flexGrow]="1"
                >
                  <ng-template ngx-datatable-cell-template let-row="row">
                    {{ row.sku_Desc }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  *ngIf="columns[5].status"
                  name="Origin Stock"
                  [flexGrow]="1"
                >
                  <ng-template ngx-datatable-cell-template let-row="row">
                    {{ row.originStock }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="Buffer"
                  *ngIf="columns[6].status"
                  [flexGrow]="1"
                >
                  <ng-template ngx-datatable-cell-template let-row="row">
                    {{ row.buffer }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  *ngIf="columns[7].status"
                  name="Needed"
                  [flexGrow]="1"
                >
                  <ng-template ngx-datatable-header-template>
                    <span>Replenish Needed</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.replenish_Needed }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  *ngIf="columns[8].status"
                  name="VPP"
                  [flexGrow]="1"
                >
                  <ng-template ngx-datatable-cell-template let-row="row">
                    {{ row.vpp }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  *ngIf="columns[9].status"
                  name="StatusB"
                  [flexGrow]="1"
                >
                  <ng-template ngx-datatable-cell-template let-row="row">
                    {{ row.statusB }}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </ng-container>
        </ng-container> -->
      </div>
    </section>
  </div>
</div>
<!-- Modal -->

<ng-template
  class="modal text-left"
  #tableModelContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-lg">
    <div class="modal-header">
      <h6 id="myModalLabel23">Review</h6>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <p class="d-inline-block mr-2">Store: <span>Jayanagar</span></p>
          <p class="d-inline-block mr-2">SKU: <span>SKU0129</span></p>
          <p class="d-inline-block mr-2">Stock Needed: <span>7</span></p>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-12">
              <ng-select
                class="mb-1"
                [items]="clusterSelectArray"
                [searchable]="false"
                bindLabel="item_text"
                aria-placeholder="Cluster"
                placeholder="Cluster"
              >
              </ng-select>
            </div>
            <!-- <div class="col-12">
              <ng-select
                class="mb-1"
                [items]="priorityArray"
                [searchable]="false"
                bindLabel="item_text"
                aria-placeholder="Priority"
                placeholder="Priority"
              >
              </ng-select>
            </div> -->
            <div class="col-12">
              <button class="btn btn-primary btn-min-width" type="button">
                Apply
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="collapse-icon accordion-icon-rotate left add-cluster">
            <div class="">
              <a
                data-toggle="collapse"
                class="text-primary"
                (click)="addNewCluster = !addNewCluster"
                [attr.aria-expanded]="addNewCluster"
                aria-controls="addNewCluster"
                >Save New Cluster</a
              >
            </div>
            <div id="addNewCluster" [ngbCollapse]="!addNewCluster">
              <fieldset>
                <div class="input-group" style="margin-top: 5px">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Cluster Name"
                    aria-describedby="button-addon4"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Save</button>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="table table-striped table-bordered add-rows mt-2">
            <ngx-datatable
              class="bootstrap"
              [sortType]="'multi'"
              [headerHeight]="50"
              [footerHeight]="0"
              [limit]="15"
              [rowHeight]="50"
              [rows]="clusterDonerData"
              [columnMode]="'force'"
              [loadingIndicator]="loadingIndicator"
              [selected]="selected"
              [selectionType]="'checkbox'"
              fxFlex="auto"
              [perfectScrollbar]="config"
            >
              <ngx-datatable-column [flexGrow]="1" [maxWidth]="40">
                <ng-template
                  ngx-datatable-cell-template
                  let-row="row"
                  let-isSelected="isSelected"
                >
                  <span class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="selectRow{{ row.id }}"
                      [checked]="isSelected"
                      (change)="onCheckboxChangeFn(row, $event)"
                    />
                    <label
                      class="custom-control-label"
                      for="selectRow{{ row.id }}"
                    ></label>
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="1">
                <ng-template ngx-datatable-header-template>
                  <span>Origin Stock</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.originStock }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="1">
                <ng-template ngx-datatable-header-template>
                  <span>Replenish</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span>
                    <select
                      name=""
                      id=""
                      class="form-control w-50"
                      style="height: 30px"
                      [(ngModel)]="replenishNeeded[row.id]"
                      (change)="changeReplenishNeeded(row.id)"
                      [disabled]="
                        replenishNeeded[row.id] == undefined ||
                        replenishNeeded[row.id] == null
                      "
                    >
                      <option
                        [value]="i"
                        *ngFor="
                          let d of genArray(row.replenish_Needed);
                          let i = index
                        "
                      >
                        {{ i }}
                      </option>
                    </select>
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="1">
                <ng-template ngx-datatable-header-template>
                  <span>Available Stock</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.available_stock }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
        <div class="col-12">
          <div class="text-right">
            <button
              type="button"
              class="btn btn-success btn-min-width ml-1"
              title="Approve"
              (click)="getApproveRejectDepth(1)"
              [disabled]="finalRecommend.length == 0"
            >
              Approve
            </button>
            <!-- <button
              type="button"
              class="btn btn-danger btn-min-width ml-1"
              title="Reject"
              (click)="getApproveRejectDepth(0)"
            >
              Reject
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
