<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-body">
      <div class="row">
        <div class="col-12 col-md-12 mb-3">
          <div class="card w-50 m-auto">
            <div class="card-header">
              <h4 class="card-title text-center">
                Final List of Approved request
              </h4>
            </div>
            <div class="card-content collapse show">
              <div class="card-body pt-0">
                <div class="row">
                  <div
                    class="col-md-12 col-12 border-right-blue-grey border-right-lighten-5 text-center"
                  >
                    <h4 class="font-large-2 text-bold-400">
                      {{ rows.length }}
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right">
      <button
        type="button"
        class="btn btn-success btn-min-width mb-1"
        title="All Job Orders"
        (click)="LargeModel(jobModelContent)"
      >
        All Job Orders
      </button>
      <!-- <button
        type="button"
        class="btn btn-outline-danger btn-min-width ml-1"
        title="Reject"
      >
        Reject
      </button> -->
    </div>
    <section id="selection-n-deletion">
      <div class="card px-1">
        <!-- <div class="card-header px-0">
          <h2 class="card-title">Final List</h2>
        </div> -->
        <app-records-table
          [columns]="columns"
          [rows]="rows"
          [tableName]="'finalList'"
          *ngIf="rows && rows.length > 0"
        ></app-records-table>
        <div class="card-header px-0" *ngIf="rows && rows.length == 0">
          <h2 class="card-title">Reviewing Buffer</h2>
          <h1>No Records Found!</h1>
        </div>
        <!-- <ng-container mCardBody>
          <ng-container mCardBody>
            <div class="btn-group depth-btns d-block mb-1">
              <div
                ngbDropdown
                class="d-inline-block w-50 column-setting"
                [autoClose]="false"
              >
                <button
                  class="btn btn-secondary dropdown-toggle"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                  title="Column Setting"
                >
                  Column Setting
                </button>
                <div
                  ngbDropdownMenu
                  class="open-left arrow"
                  aria-labelledby="dropdownBasic1"
                >
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    SKU
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    From Location
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    To Location
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Quantity
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Priority
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Job Number
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Comments
                  </button>
                </div>
              </div>
            </div>
            <div class="table table-striped table-bordered add-rows">
              <ngx-datatable
                class="bootstrap depth-table"
                [sortType]="'multi'"
                [headerHeight]="50"
                [limit]="7"
                [footerHeight]="40"
                [rowHeight]="40"
                [rows]="rows"
                [columnMode]="'force'"
                [loadingIndicator]="loadingIndicator"
                [selected]="selected"
                fxFlex="auto"
                [perfectScrollbar]="config"
              >
                <ngx-datatable-column name="SKU" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    {{ element.sku }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="From Location" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    {{ element.fromLocation }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="To Location" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    {{ element.toLocation }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Quantity" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    {{ element.quantity }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Priority" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    {{ element.priority }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Job Number" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    {{ element.jobNumber }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Comments" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    {{ element.comments }}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </ng-container>
        </ng-container> -->
      </div>
    </section>
  </div>
</div>
<!-- Modal -->
<ng-template
  class="modal text-left"
  #jobModelContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-lg">
    <div class="modal-header">
      <h6 id="myModalLabel23">Jobs</h6>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <div class="table table-striped table-bordered add-rows">
            <ngx-datatable
              class="bootstrap depth-table"
              [sortType]="'multi'"
              [headerHeight]="50"
              [limit]="4"
              [footerHeight]="40"
              [rowHeight]="40"
              [rows]="rowsJobs"
              [columnMode]="'force'"
              [loadingIndicator]="loadingIndicator"
              [selected]="selected"
              fxFlex="auto"
              [perfectScrollbar]="config"
            >
              <ngx-datatable-column name="Job Order" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.jobOrder }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Origin" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.origin }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="To" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.to }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Owner" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.owner }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Due Date" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.dueDate }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Color" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.color }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Priority" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.priority }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Status" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.status }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Comments" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.comments }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
